* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  background-color: #3161e0;
  height: 80px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  gap: 3.125rem;
  list-style: none;
  color: white;
}

li:hover {
  text-decoration: underline rebeccapurple;
  color: black;
}

header .button {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  color: #292d30;
}

.jumbotron {
  background-image: url(/img/jumbo.png);
  background-size: cover;
  height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron .content {
  max-width: 800px;
  text-align: center;
  color: white;
}

.content p {
  padding: 1.5rem;
}

.jumbotron .bottoni-jumbo {
  display: flex;
  width: 60%;
  justify-content: space-evenly;
}

.button-1 {
  border-radius: 20px;
  background-color: white;
  color: #23272a;
  padding: 10px;
}

.button-2 {
  border-radius: 20px;
  background-color: #23272a;
  color: white;
  padding: 10px;
}

h1 {
  padding-bottom: 1rem;
  font-size: 3.5rem;
}

main {
  margin-top: 50px;
}

section {
  margin-bottom: 50px;
}

section.bg-grey {
  background-color: #f6f6f6;
}

section .container {
  display: flex;
  justify-content: flex-end;
  min-height: 500px;
}

section .container .img {
  width: 60%;
  min-width: 300px;
}

section .container .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 25%;
  width: 40%;
  min-width: 300px;
}

section.section-bottom .container {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.box-bottom {
  border-radius: 20px;
  background-color: white;
  color: #23272a;
  padding: 10px;
}

footer {
  background-color: #23272a;
}

.footer-top {
  display: flex;
  background-color: #23272a;
  min-height: 300px;
}

.footer-bottom {
  min-height: 300px;
  background-color: coral;
}

.footer-top .col-social {
  width: calc(100% / 3);
  min-height: 200px;
  background-color: #23272a;
}

.footer-top .col-menu {
  width: calc(100% / 6);
  min-height: 200px;
}

.footer-top h2 {
  color: #768ee3;
  font-size: 2.5rem;
}

.footer-top span {
  color: white;
  display: flex;
  align-items: center;
}

.footer-top img {
  
}

.footer-bottom {
  min-height: 200px;
  background-color: cornflowerblue;
}