* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
  outline: 2px solid red;
}

body {
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}

header {
  display: flex;
  align-items: center;
  background-color: blue;
  height: 80px;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header ul {
  display: flex;
  gap: 3.125rem;
  list-style: none;
  color: white;
}

li:hover {
  text-decoration: underline rebeccapurple;
  color: black;
}

header .button {
  background-color: white;
  border-radius: 20px;
  padding: 10px;
  color: #292d30;
}

.jumbotron {
  background-image: url(/img/jumbo.png);
  background-size: cover;
  height: 550px;
  background-color: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
}

.jumbotron .content {
  max-width: 800px;
  background-color: brown;
  text-align: center;
  color: white;
}

.content p {
  padding: 2rem;
}

.button-1 {
  border-radius: 20px;
  background-color: white;
  color: black;
  padding: 10px;
}

.button-2 {
  border-radius: 20px;
  background-color: black;
  color: white;
  padding: 10px;
}

h1 {
  padding-bottom: 1rem;
}

main {
  margin-top: 50px;
}

section {
  margin-bottom: 50px;
}

section .bg-grey {
  background-color: blanchedalmond;
}

section .container {
  display: flex;
  min-height: 500px;
  background-color: azure;
}

section .container .img {
  width: 60%;
  min-width: 300px;
  background-color: bisque;
}

section .container .text {
  width: 40%;
  min-width: 300px;
  background-color: yellowgreen;
}

section.section-bottom .container {
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

footer {
  background-color: lightgoldenrodyellow;
}

.footer-top {
  display: flex;
  background-color: aquamarine;
  min-height: 300px;
}

.footer-bottom {
  min-height: 300px;
  background-color: coral;
}

.footer-top .col-social {
  width: calc(100% / 3);
  min-height: 200px;
  background-color: darkgreen;
}

.footer-top .col-menu {
  width: calc(100% / 6);
  min-height: 200px;
}

.footer-bottom {
  min-height: 200px;
  background-color: cornflowerblue;
}